/node_modules
/dist
/docs
/tests
temp/
/src/**/*.d.ts
/src/**/*.json
/hmr/**/*.d.ts
/hmr/**/*.json
/forms/**/*.d.ts
/forms/**/*.json
/router/**/*.d.ts
/router/**/*.json
/numeral/**/*.d.ts
/numeral/**/*.json
/hotkeys/**/*.d.ts
/hotkeys/**/*.json
/store/**/*.d.ts
/store/**/*.json
/moment/**/*.d.ts
/moment/**/*.json
/structured-log/**/*.d.ts
/structured-log/**/*.json
/positions/**/*.d.ts
/positions/**/*.json
/*/dist
/*.d.ts
/*.metadata.json

package-lock.json
tsdoc-metadata.json
*.log
*.bak
*.orig
*.map
*~