:host
{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 50%;
}

.console-data
{
    background-color: #000000c7;
    border: none;
    border-bottom: 1px solid #AAA;
    border-radius: 0;
    color: #EEE;
    flex: 1;
    min-height: 0;
    min-width: 0;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: pointer;
}

.console-filter
{
    align-self: stretch;
}

.console-filter input
{
    width: 100%;
    background-color: #000000c7;
    color: #FFF;
    border: none;
    border-bottom: 1px solid #AAA;
    padding: 0 4px;
}

.copy-icon,
.clear-icon
{
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 14px;
}

.copy-icon
{
    margin-right: 20px;
}

.clear-icon div:hover,
.copy-icon div:hover
{
    color: #31A1FF;
    cursor: pointer;
}

.console-log
{
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 12px;
    display: flex;
    flex-direction: row;
}

.console-log.error,
.console-log.fatal
{
    color: #FF3131;
}

.console-log.warning
{
    color: #FFC531;
}

.console-log.debug,
.console-log.verbose
{
    color: #31A1FF;
}

.console-log-icon
{
    color: #FFF;
    font-weight: bold;
    margin: 2px 4px 0;
}

.console-log-icon.fa-angle-down
{
    margin: 3px 3px 0 2px;
}

.console-log-text
{
    flex: 1;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.console-log-text.expanded
{
    white-space: pre;
    text-overflow: initial;
}