.progress-overlay-div
{
    position: absolute;
    transition: all 250ms linear;
    background-color: rgba(0, 0, 0, 0.45);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;

    & > div.spinner
    {
        border: 3px solid #eee;
        border-bottom: none;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        height: 12px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: calc(50% - 6px);
        width: 24px;
        animation-name: rotate-progress-overlay;
        animation-duration: 450ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform-origin: calc(50%) calc(50% + 6px);
    }

    & > .messages
    {
        color: #eee;
        top: calc(50% + 12px);
        position: relative;
        text-align: center;
        font-weight: bold;
        display: flex;
        flex-direction: column-reverse;

        .message-0,
        .message-1,
        .message-2,
        .message-out
        {
            transition: all 500ms;
            position: absolute;
            width: 100%;
            top: 0;
        }

        .message-1
        {
            transform: scale3d(0.7, 0.7, 0.7) translateZ(-20px) translateY(20px);
            opacity: 0.8;
        }

        .message-2
        {
            transform: scale3d(0.35, 0.35, 0.35) translateZ(-40px) translateY(80px);
            opacity: 0.5;
        }

        .message-out
        {
            transform: scale3d(0, 0, 0) translateZ(-100px) translateY(160px);
        }
    }
}

@keyframes rotate-progress-overlay
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}